// slideshow image

body{
    font-family: 'Open Sans', sans-serif;
}


.jumbotron{
    background-image: url(/assets/file/tyre-background.png);
    background-size: cover;
    height: 150px;
    width: 100%;
    margin-top: 70px;
    transition-property: background-image;
    transition-duration: 0.7s;
    transition-timing-function: ease-in;
    transition-delay: 0.3s;
    -webkit-transition-property: background-image;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-timing-function: ease-in;
    -webkit-transition-delay: 0.3s;
    -moz-transition-property: background;
    -moz-transition-duration: 0.7s;
    -moz-transition-timing-function: ease-in;
    -moz-transition-delay: 0.3s;
}

.nav-link{
    color:black !important;
}

.img-thumbnail{
    width:100%;
    height: 140px;
}

.card-text{
    margin-top: -10px;
}

.footer{
    background-color: #dee2e2;
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    

}

.custom-text{
    font-size: 13px;
}

.logo{
    width: 50px;
    height: 44px;
}

